<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=750" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <title>Medlinker</title>
    <meta name="author" content=""/>
    <meta name="Copyright" content=""/>
    <meta name="keywords" content="">
    <meta name="description" content="图">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script type="text/javascript" src="../javascript/util.js"></script>
    <script type="text/javascript" src="../javascript/jquery-1.9.0.min.js"></script>
</head>
<body>
<div class="login-wrapper">
    <h1>医联牙科诊所SAAS系统 <span>1.0</span></h1>
    <p>Medlinker Dental Clinic SAAS System</p>
    <div class="login-block">
        <p class="title">Login</p>
        <form action="">
            <input type="text" name="name" required="required" placeholder="Username"/>
            <input type="password" name="password" required="required" placeholder="Password"/>
            <button type="submit">登录</button>
        </form>
    </div>
    <footer>
        <p>成都医云科技有限公司</p>
        <p>All Rights Reserved</p>
    </footer>
</div>
<script type="text/javascript" src="../javascript/login.js"></script>
</body>
</html>