<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=750" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <title>Medlinker</title>
    <meta name="author" content=""/>
    <meta name="Copyright" content=""/>
    <meta name="keywords" content="">
    <meta name="description" content="图">
    <link rel="stylesheet" type="text/css" href="../css/patients.css">
    <script type="text/javascript" src="../javascript/util.js"></script>
    <script type="text/javascript" src="../javascript/jquery-1.9.0.min.js"></script>
</head>
<body>
<div class="title-bar clearfix">
    <a class="return-back icon icon-arrow-left-blue" href="javascript:;"></a>
    <h1>选择患者</h1>
</div>
<div class="patients-list">
    <div class="search-wrapper">
        <div class="search-block patients-search">
            <span class="icon-search icon"></span>
            <input type="text" name="search"/>
        </div>
    </div>
    <div class="thumb-list">
        <ul>
            <li class="thumb-list-title">A</li>
            <li class="thumb-list-item">
                <img class="avatar" src="" width="70px" height="70px"/>
                <p class="nick">安东尼</p>
            </li>
            <li class="thumb-list-item">
                <img class="avatar" src="" width="70px" height="70px"/>
                <p class="nick">安东尼</p>
            </li>
        </ul>
        <ul>
            <li class="thumb-list-title">B</li>
            <li class="thumb-list-item">
                <img class="avatar" src="" width="70px" height="70px"/>
                <p class="nick">宝丽来</p>
            </li>
            <li class="thumb-list-item">
                <img class="avatar" src="" width="70px" height="70px"/>
                <p class="nick">宝丽来</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>