<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <title>文章二级页</title>
    <meta name="author" content=""/>
    <meta name="Copyright" content=""/>
    <meta name="keywords" content="">
    <meta name="description" content="图">
    <link rel="stylesheet" type="text/css" href="../css/articles.css">
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="../js/hammer.js"></script>
    
</head>
<body>
    <div class="banner">
        <img src="../images/banner.jpg">
    </div>
    <div class="recommend">
        <div class="title clearfix">
            <h1>胖MM办公室穿衣系列一：</h1>
            <h5>如何把衬衫穿的帅气、性感不死板</h5>
        </div>
        <p>今天我们聊聊办公室穿着，先说说“衬衫"。上图大表姐的照片让大家养养眼，这也是我推荐大家穿着衬衣的原因，帅气、利落、性感又职业，是不是很美好呀。当然，大表姐的这件衬衫也给姑娘们一个提醒，大胸的姑娘是真的不适合穿衬衫，OR穿衬衫时，尽量穿纯棉的简单内衣，不要选择有隆胸效果的内衣啦。胖mm如何选择性感又职业的衬衫呢，看这一篇，就够了！</p>   
    </div>
    <span class="border"></span> 
    <div class="recommend">
        <h2>推荐一：经典白色衬衫，肯定不能少</h2>
        <p>说到经典，那就一定少不了白色衬衫，如果你想在一些正式会议上穿得花里胡哨的就小心老板找你谈话了~~所以呢白色虽说会穿成售楼小工那也是可能而已嘛，它在职场还是必不可少的~胖mm选择白衬衫可以注意两个点，第一宽松，最好是垂度好的，纯棉的不嫌疑，后一点的纺材质，比较合适。第二细节，比如娃娃袖，少少的A字形等等，都是可以假如多选项的小细节。</p>
        <div class="thumb">
            
            <div class="img-wrapper clearfix">
                <span class="icon-tab">轻松大方</span> 
                <div class="clearfix">           
                   <img src="../images/1.jpg">
                   <img src="../images/2.jpg">
                   <img src="../images/3.jpg">
                   <img src="../images/4.jpg"> 
               </div>   
                <p class="page"><span class="js-current-page">1</span>/4</p>  
            </div>
            <p class="size bust"><span class="icon-bust"></span>114</p>
            <p class="size waistline"><span class="icon-waistline"></span>114</p>
            <p class="size hip"><span class="icon-hip"></span>114</p>
        </div>
        <div class="col-wrapper clearfix">
            <a class="btn-red" href="">买买买</a>
            <p class="price">
            <span class="icon-price"></span>100元</p>
            
        </div>        
    </div>
    <span class="border"></span> 
    <div class="recommend">
        <h2>推荐二：经典白色衬衫，肯定不能少</h2>
        <p>说到经典，那就一定少不了白色衬衫，如果你想在一些正式会议上穿得花里胡哨的就小心老板找你谈话了~~所以呢白色虽说会穿成售楼小工那也是可能而已嘛，它在职场还是必不可少的~胖mm选择白衬衫可以注意两个点，第一宽松，最好是垂度好的，纯棉的不嫌疑，后一点的纺材质，比较合适。第二细节，比如娃娃袖，少少的A字形等等，都是可以假如多选项的小细节。</p>
        <div class="thumb">
            
            <div class="img-wrapper clearfix">
                <span class="icon-tab">轻松大方</span>
                <div class="clearfix">                   
                   <img src="../images/2.jpg">
                   <img src="../images/1.jpg">
                   <img src="../images/3.jpg">
                   <img src="../images/4.jpg">
               </div> 
                <p class="page"><span class="js-current-page">1</span>/4</p>  
            </div>
            
            <p>推荐商家：ALIN定制大码女装</p>
            <p>尺寸：胸围114</p>
        </div>
        <div class="col-wrapper clearfix">
            <a class="btn-red" href="">买买买</a>
            <p class="price">
            <span class="icon-price"></span>100元左右</p>
            
        </div>        
    </div>
    <span class="border"></span> 
    <div class="recommend">
        <h2>推荐三：经典白色衬衫</h2>
        <p>说到经典，那就一定少不了白色衬衫，如果你想在一些正式会议上穿得花里胡哨的就小心老板找你谈话了~~所以呢白色虽说会穿成售楼小工那也是可能而已嘛，它在职场还是必不可少的~胖mm选择白衬衫可以注意两个点，第一宽松，最好是垂度好的，纯棉的不嫌疑，后一点的纺材质，比较合适。第二细节，比如娃娃袖，少少的A字形等等，都是可以假如多选项的小细节。</p>
        <div class="thumb">
            
            <div class="img-wrapper clearfix">
                <span class="icon-tab">轻松大方</span>               
               <div class="clearfix">                  
                   <img src="../images/4.jpg">
                   <img src="../images/1.jpg">
                   <img src="../images/3.jpg">
                   <img src="../images/4.jpg">
               </div> 
                <p class="page"><span class="js-current-page">1</span>/4</p>  
            </div>
        </div>
        <div class="col-wrapper clearfix">
            <a class="btn-red" href="">买买买</a>
            <p class="price">
            <span class="icon-price"></span>100元左右</p>
            
        </div>        
    </div>
    <span class="border"></span> 
    <div class="recommend">
        <div class="title clearfix">
            <h1>题外话，我们推荐包包啦</h1>
        </div>
        <p>衬衫说的差不多啦，咱们说说上班族的必备单品，也是女人的最爱，包治百病的包包，一个好看的包包可以让女人信心百倍，可以让你上班的时候走路待风，可以让你在人群中鹤立鸡群……我没说出吧，凹姐最近最心水的几款包包，推荐给上满足的mm。</p>   
    </div>
    <span class="border"></span> 
    <div class="recommend">
        <h2>推荐一：经典白色衬衫，肯定不能少</h2>
        <p>说到经典，那就一定少不了白色衬衫，如果你想在一些正式会议上穿得花里胡哨的就小心老板找你谈话了~~所以呢白色虽说会穿成售楼小工那也是可能而已嘛，它在职场还是必不可少的~胖mm选择白衬衫可以注意两个点，第一宽松，最好是垂度好的，纯棉的不嫌疑，后一点的纺材质，比较合适。第二细节，比如娃娃袖，少少的A字形等等，都是可以假如多选项的小细节。</p>
        <div class="thumb">
            
            <div class="img-wrapper clearfix">
                <span class="icon-tab">轻松大方</span>
                <img src="../images/4.jpg">
            </div>
        </div>
        <div class="col-wrapper clearfix">
            <a class="btn-red" href="">买买买</a>
            <p class="price">
            <span class="icon-price"></span>100元左右</p>
            
        </div>        
    </div>
    <span class="border"></span> 
    <div class="text-wrapper">
    <div class="title">
        <span class="line"></span>
        <h3>凹姐说</h3>
    </div>
        
        <pre>女人
每一刻都要美
三四年前
在北京拥挤的地铁里遇到一个
一身蓝色套装、精致妆容的女生
单臂扶着扶手
站的姿势都很优雅
当时我很差异
为什么要这么正式的状态上班呢

今天
我开始羡慕那个女生
永远保持一个女性的姿态
我相信她无论在家或者公司
肯定都是一个优雅的女人</pre>
    </div>
    <footer>
        <span class="icon-logo"></span>
        <div class="info">
            <p class="main">凹凸曼</p>
            <p><span>胖美眉专属</span>穿搭、美妆、瘦身社区</p>
        </div>
        <a class="download">下载</a>
    </footer>
    <script type="text/javascript" src="../js/swiper.js"></script>
</body>
</html>