/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 88, icon/*.png */
.icon-sprite, .icon-arrow-left-blue, .icon-arrow-left-border, .icon-arrow-right-border, .icon-arrow-right-gray, .icon-canlendar, .icon-search {
  background-image: url('../images/icon-sd524869f7d.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-left-blue {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-left-border {
  background-position: 0 -42px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-border {
  background-position: 0 -90px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-gray {
  background-position: 0 -138px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-canlendar {
  background-position: 0 -162px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search {
  background-position: 0 -203px;
}

/*All icon*/
/* line 15, ../scss/general.scss */
.icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 20, ../scss/general.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 25, ../scss/general.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, ../scss/general.scss */
td,
th {
  padding: 0;
}

/* line 33, ../scss/general.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 39, ../scss/general.scss */
button,
select {
  text-transform: none;
  outline: none;
  border: 0 none;
}

/* line 45, ../scss/general.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 52, ../scss/general.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 57, ../scss/general.scss */
input {
  line-height: normal;
}

/* line 60, ../scss/general.scss */
input,
select,
button {
  -webkit-appearance: none;
}

/* line 65, ../scss/general.scss */
a,
button {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 70, ../scss/general.scss */
img {
  outline: none;
}

/* line 75, ../scss/general.scss */
html,
body {
  font-family: 'PingFang SC', 'Lucica Grande', 'Helvatica Neue', 'Helvatica', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, serif;
  font-weight: 400;
  font-size: 32px;
  color: #000;
  background: #fff;
  min-height: 100%;
  width: 750px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

/* line 91, ../scss/general.scss */
a img {
  border: 0;
}

/* line 94, ../scss/general.scss */
a {
  text-decoration: none;
  outline: 0;
}

/* line 98, ../scss/general.scss */
a:visited {
  text-decoration: none;
}

/* line 101, ../scss/general.scss */
a:hover {
  text-decoration: none;
}

/* line 104, ../scss/general.scss */
a:active {
  border: 0 none;
}

/* line 107, ../scss/general.scss */
p {
  word-wrap: break-word;
}

/* line 111, ../scss/general.scss */
select {
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

/* line 116, ../scss/general.scss */
input, select, textarea {
  outline: 0;
  background: transparent;
  border: 0 none;
}

/* line 121, ../scss/general.scss */
input:focus, select:focus, textarea:focus, input:active, select:active, textarea:active {
  outline: 0;
  background: transparent;
  border: 0 none;
}

/* line 126, ../scss/general.scss */
option {
  font-weight: normal;
  display: block;
  padding: 0px 2px 1px;
  white-space: pre;
}

/* line 132, ../scss/general.scss */
::-webkit-inner-spin-button {
  visibility: hidden;
}

/* line 133, ../scss/general.scss */
::-webkit-datetime-edit-text {
  text-align: right;
}

/* line 134, ../scss/general.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 2, ../scss/form.scss */
.med-form {
  font-size: 32px;
  line-height: 100px;
}
/* line 5, ../scss/form.scss */
.med-form .form-block {
  border-bottom: 25px solid #e5e5e5;
}
/* line 9, ../scss/form.scss */
.med-form .form-col {
  border-bottom: 1px solid #d8d8d8;
  padding: 0 25px;
}
/* line 12, ../scss/form.scss */
.med-form .form-col textarea {
  clear: both;
  width: 100%;
  height: 230px;
  border: 0;
  font-size: 32px;
  color: #7a7a7a;
  line-height: 35px;
}
/* line 22, ../scss/form.scss */
.med-form .label {
  float: left;
  width: 200px;
}
/* line 26, ../scss/form.scss */
.med-form .item-input {
  float: right;
}
/* line 29, ../scss/form.scss */
.med-form input, .med-form select {
  height: 100px;
  line-height: 100px;
  padding: 0;
  border: 0;
  font-size: 32px;
  text-align: right;
  margin-right: 15px;
  color: #7a7a7a;
}
/* line 39, ../scss/form.scss */
.med-form input {
  width: 400px;
}
/* line 42, ../scss/form.scss */
.med-form .icon-arrow-right-gray {
  float: right;
  margin-top: 40px;
}
/* line 46, ../scss/form.scss */
.med-form .btn-text-right {
  color: #0084ff;
  float: right;
}
/* line 50, ../scss/form.scss */
.med-form .matter-list {
  clear: both;
  border-top: 1px solid #d8d8d8;
}
/* line 53, ../scss/form.scss */
.med-form .matter-list li {
  border-bottom: 1px solid #d8d8d8;
  color: #7a7a7a;
  text-align: right;
}
/* line 59, ../scss/form.scss */
.med-form .btn-blue {
  width: 100%;
  display: block;
  background: #0084ff;
  line-height: 100px;
  height: 100px;
  font-size: 34px;
  color: #fff;
  text-align: center;
}

/*!
 * FullCalendar v2.6.1 Stylesheet
 * Docs & License: http://fullcalendar.io/
 * (c) 2015 Adam Shaw
 */
/* line 8, ../scss/fullcalendar.scss */
.fc {
  direction: ltr;
  text-align: left;
}

/* line 13, ../scss/fullcalendar.scss */
.fc-rtl {
  text-align: right;
}

/* line 17, ../scss/fullcalendar.scss */
body .fc {
  /* extra precedence to overcome jqui */
  font-size: 1em;
}

/* Colors
--------------------------------------------------------------------------------------------------*/
/* line 25, ../scss/fullcalendar.scss */
.fc-unthemed .fc-popover {
  background-color: #fff;
}

/* line 29, ../scss/fullcalendar.scss */
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
  background: #eee;
}

/* line 34, ../scss/fullcalendar.scss */
.fc-unthemed .fc-popover .fc-header .fc-close {
  color: #666;
}

/* line 38, ../scss/fullcalendar.scss */
.fc-unthemed .fc-today {
  background: #136cfb;
  color: #fff;
}

/* line 43, ../scss/fullcalendar.scss */
.fc-highlight {
  /* when user is selecting cells */
  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */
}

/* line 49, ../scss/fullcalendar.scss */
.fc-bgevent {
  /* default look for background events */
  background: #8fdf82;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */
}

/* line 55, ../scss/fullcalendar.scss */
.fc-nonbusiness {
  /* default look for non-business-hours areas */
  /* will inherit .fc-bgevent's styles */
  background: #d7d7d7;
}

/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/
/* line 64, ../scss/fullcalendar.scss */
.fc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  /* don't allow browser text-selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
Acceptable font-family overrides for individual icons:
	"Arial", sans-serif
	"Times New Roman", serif

NOTE: use percentage font sizes or else old IE chokes
*/
/* line 91, ../scss/fullcalendar.scss */
.fc-icon:after {
  position: relative;
  margin: 0 -1em;
  /* ensures character will be centered, regardless of width */
}

/* line 96, ../scss/fullcalendar.scss */
.fc-icon-left-single-arrow:after {
  content: "\02039";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
  left: 3%;
}

/* line 104, ../scss/fullcalendar.scss */
.fc-icon-right-single-arrow:after {
  content: "\0203A";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
  left: -3%;
}

/* line 112, ../scss/fullcalendar.scss */
.fc-icon-left-double-arrow:after {
  content: "\000AB";
  font-size: 160%;
  top: -7%;
}

/* line 118, ../scss/fullcalendar.scss */
.fc-icon-right-double-arrow:after {
  content: "\000BB";
  font-size: 160%;
  top: -7%;
}

/* line 124, ../scss/fullcalendar.scss */
.fc-icon-left-triangle:after {
  content: "\25C4";
  font-size: 125%;
  top: 3%;
  left: -2%;
}

/* line 131, ../scss/fullcalendar.scss */
.fc-icon-right-triangle:after {
  content: "\25BA";
  font-size: 125%;
  top: 3%;
  left: 2%;
}

/* line 138, ../scss/fullcalendar.scss */
.fc-icon-down-triangle:after {
  content: "\25BC";
  font-size: 125%;
  top: 2%;
}

/* line 144, ../scss/fullcalendar.scss */
.fc-icon-x:after {
  content: "\000D7";
  font-size: 200%;
  top: 6%;
}

/* Buttons (styled <button> tags, normalized to work cross-browser)
--------------------------------------------------------------------------------------------------*/
/* line 154, ../scss/fullcalendar.scss */
.fc button {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  outline: none;
}
/* line 159, ../scss/fullcalendar.scss */
.fc button:hover, .fc button:active {
  outline: none;
}

/* Firefox has an annoying inner border */
/* line 165, ../scss/fullcalendar.scss */
.fc button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

/* line 167, ../scss/fullcalendar.scss */
.fc-state-default {
  /* non-theme */
  border: 1px solid;
}

/* line 172, ../scss/fullcalendar.scss */
.fc-state-default.fc-corner-left {
  /* non-theme */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 177, ../scss/fullcalendar.scss */
.fc-state-default.fc-corner-right {
  /* non-theme */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* icons in buttons */
/* line 184, ../scss/fullcalendar.scss */
.fc button .fc-icon {
  /* non-theme */
  position: relative;
  top: -0.05em;
  /* seems to be a good adjustment across browsers */
  margin: 0 .2em;
  vertical-align: middle;
}

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/
/* line 196, ../scss/fullcalendar.scss */
.fc-state-default {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Buttons Groups
--------------------------------------------------------------------------------------------------*/
/* line 215, ../scss/fullcalendar.scss */
.fc-button-group {
  display: inline-block;
}

/*
every button that is not first in a button group should scootch over one pixel and cover the
previous button's border...
*/
/* line 224, ../scss/fullcalendar.scss */
.fc .fc-button-group > * {
  /* extra precedence b/c buttons have margin set to zero */
  float: left;
  margin: 0 0 0 -1px;
}

/* line 229, ../scss/fullcalendar.scss */
.fc .fc-button-group > :first-child {
  /* same */
  margin-right: 10px;
  font-size: 32px;
  color: #0084ff;
  line-height: 100px;
}

/* line 235, ../scss/fullcalendar.scss */
.fc-month-button {
  line-height: 100px;
}

/* Popover
--------------------------------------------------------------------------------------------------*/
/* line 243, ../scss/fullcalendar.scss */
.fc-popover {
  position: absolute;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* line 248, ../scss/fullcalendar.scss */
.fc-popover .fc-header {
  /* TODO: be more consistent with fc-head/fc-body */
  padding: 2px 4px;
}

/* line 252, ../scss/fullcalendar.scss */
.fc-popover .fc-header .fc-title {
  margin: 0 2px;
}

/* line 256, ../scss/fullcalendar.scss */
.fc-popover .fc-header .fc-close {
  cursor: pointer;
}

/* line 260, ../scss/fullcalendar.scss */
.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
  float: left;
}

/* line 265, ../scss/fullcalendar.scss */
.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-header .fc-close {
  float: right;
}

/* unthemed */
/* line 272, ../scss/fullcalendar.scss */
.fc-unthemed .fc-popover {
  border-width: 1px;
  border-style: solid;
}

/* line 277, ../scss/fullcalendar.scss */
.fc-unthemed .fc-popover .fc-header .fc-close {
  font-size: .9em;
  margin-top: 2px;
}

/* jqui themed */
/* line 284, ../scss/fullcalendar.scss */
.fc-popover > .ui-widget-header + .ui-widget-content {
  border-top: 0;
  /* where they meet, let the header have the border */
}

/* Misc Reusable Components
--------------------------------------------------------------------------------------------------*/
/* line 292, ../scss/fullcalendar.scss */
.fc-divider {
  border-style: solid;
  border-width: 1px;
}

/* line 297, ../scss/fullcalendar.scss */
hr.fc-divider {
  height: 0;
  margin: 0;
  padding: 0 0 2px;
  /* height is unreliable across browsers, so use padding */
  border-width: 1px 0;
}

/* line 304, ../scss/fullcalendar.scss */
.fc-clear {
  clear: both;
}

/* line 308, ../scss/fullcalendar.scss */
.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
  /* these element should always cling to top-left/right corners */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 319, ../scss/fullcalendar.scss */
.fc-bg {
  bottom: 0;
  /* strech bg to bottom edge */
}

/* line 323, ../scss/fullcalendar.scss */
.fc-bg table {
  height: 100%;
  /* strech bg to bottom edge */
}

/* Tables
--------------------------------------------------------------------------------------------------*/
/* line 331, ../scss/fullcalendar.scss */
.fc table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  /* normalize cross-browser */
}

/* line 339, ../scss/fullcalendar.scss */
.fc th {
  text-align: center;
}

/* line 343, ../scss/fullcalendar.scss */
.fc th,
.fc td {
  vertical-align: middle;
  color: #a5acbd;
  width: 70px !important;
  height: 70px !important;
  font-size: 38px;
}

/* line 352, ../scss/fullcalendar.scss */
.fc td.fc-today {
  border-style: double;
  /* overcome neighboring borders */
}

/* Fake Table Rows
--------------------------------------------------------------------------------------------------*/
/* line 360, ../scss/fullcalendar.scss */
.fc .fc-row {
  /* extra precedence to overcome themes w/ .ui-widget-content forcing a 1px border */
  /* no visible border by default. but make available if need be (scrollbar width compensation) */
  border-style: solid;
  border-width: 0;
}

/* line 366, ../scss/fullcalendar.scss */
.fc-row table {
  /* don't put left/right border on anything within a fake row.
     the outer tbody will worry about this */
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  /* no bottom borders on rows */
  border-bottom: 0 hidden transparent;
}

/* line 376, ../scss/fullcalendar.scss */
.fc-row:first-child table {
  border-top: 0 hidden transparent;
  /* no top border on first row */
}

/* Day Row (used within the header and the DayGrid)
--------------------------------------------------------------------------------------------------*/
/* line 384, ../scss/fullcalendar.scss */
.fc-row {
  position: relative;
}

/* line 388, ../scss/fullcalendar.scss */
.fc-row .fc-bg {
  z-index: 1;
}

/* highlighting cells & background event skeleton */
/* line 394, ../scss/fullcalendar.scss */
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
  bottom: 0;
  /* stretch skeleton to bottom of row */
}

/* line 399, ../scss/fullcalendar.scss */
.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
  height: 100%;
  /* stretch skeleton to bottom of row */
}

/* line 404, ../scss/fullcalendar.scss */
.fc-row .fc-highlight-skeleton td,
.fc-row .fc-bgevent-skeleton td {
  border-color: transparent;
}

/* line 409, ../scss/fullcalendar.scss */
.fc-row .fc-bgevent-skeleton {
  z-index: 2;
}

/* line 414, ../scss/fullcalendar.scss */
.fc-row .fc-highlight-skeleton {
  z-index: 3;
}

/*
row content (which contains day/week numbers and events) as well as "helper" (which contains
temporary rendered events).
*/
/* line 423, ../scss/fullcalendar.scss */
.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
  /* matches the space above the events */
}

/* line 429, ../scss/fullcalendar.scss */
.fc-row .fc-helper-skeleton {
  z-index: 5;
}

/* line 433, ../scss/fullcalendar.scss */
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  /* see-through to the background below */
  background: none;
  /* in case <td>s are globally styled */
  border-color: transparent;
  /* don't put a border between events and/or the day number */
  border-bottom: 0;
}

/* line 443, ../scss/fullcalendar.scss */
.fc-row .fc-content-skeleton tbody td,
.fc-row .fc-helper-skeleton tbody td {
  /* don't put a border between event cells */
  border-top: 0;
}

/* Scrolling Container
--------------------------------------------------------------------------------------------------*/
/* line 453, ../scss/fullcalendar.scss */
.fc-scroller {
  /* this class goes on elements for guaranteed vertical scrollbars */
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 458, ../scss/fullcalendar.scss */
.fc-scroller > * {
  /* we expect an immediate inner element */
  position: relative;
  /* re-scope all positions */
  width: 100%;
  /* hack to force re-sizing this inner element when scrollbars appear/disappear */
  overflow: hidden;
  /* don't let negative margins or absolute positioning create further scroll */
}

/* Global Event Styles
--------------------------------------------------------------------------------------------------*/
/* line 468, ../scss/fullcalendar.scss */
.fc-event {
  position: relative;
  /* for resize handle and other inner positioning */
  display: block;
  /* make the <a> tag block */
  font-size: .85em;
  line-height: 1.3;
  border-radius: 3px;
  border: 1px solid #3a87ad;
  /* default BORDER color */
  background-color: #3a87ad;
  /* default BACKGROUND color */
  font-weight: normal;
  /* undo jqui's ui-widget-header bold */
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
/* line 480, ../scss/fullcalendar.scss */
.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
  color: #fff;
  /* default TEXT color */
  text-decoration: none;
  /* if <a> has an href */
}

/* line 487, ../scss/fullcalendar.scss */
.fc-event[href],
.fc-event.fc-draggable {
  cursor: pointer;
  /* give events with links and draggable events a hand mouse pointer */
}

/* line 492, ../scss/fullcalendar.scss */
.fc-not-allowed,
.fc-not-allowed .fc-event {
  /* to override an event's custom cursor */
  cursor: not-allowed;
}

/* line 497, ../scss/fullcalendar.scss */
.fc-event .fc-bg {
  /* the generic .fc-bg already does position */
  z-index: 1;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
  /* for IE */
}

/* line 504, ../scss/fullcalendar.scss */
.fc-event .fc-content {
  position: relative;
  z-index: 2;
}

/* line 509, ../scss/fullcalendar.scss */
.fc-event .fc-resizer {
  position: absolute;
  z-index: 3;
}

/* Horizontal Events
--------------------------------------------------------------------------------------------------*/
/* events that are continuing to/from another week. kill rounded corners and butt up against edge */
/* line 520, ../scss/fullcalendar.scss */
.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
  margin-left: 0;
  border-left-width: 0;
  padding-left: 1px;
  /* replace the border with padding */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 529, ../scss/fullcalendar.scss */
.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
  margin-right: 0;
  border-right-width: 0;
  padding-right: 1px;
  /* replace the border with padding */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* resizer */
/* line 540, ../scss/fullcalendar.scss */
.fc-h-event .fc-resizer {
  /* positioned it to overcome the event's borders */
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  width: 5px;
}

/* left resizer  */
/* line 549, ../scss/fullcalendar.scss */
.fc-ltr .fc-h-event .fc-start-resizer,
.fc-ltr .fc-h-event .fc-start-resizer:before,
.fc-ltr .fc-h-event .fc-start-resizer:after,
.fc-rtl .fc-h-event .fc-end-resizer,
.fc-rtl .fc-h-event .fc-end-resizer:before,
.fc-rtl .fc-h-event .fc-end-resizer:after {
  right: auto;
  /* ignore the right and only use the left */
  cursor: w-resize;
}

/* right resizer */
/* line 560, ../scss/fullcalendar.scss */
.fc-ltr .fc-h-event .fc-end-resizer,
.fc-ltr .fc-h-event .fc-end-resizer:before,
.fc-ltr .fc-h-event .fc-end-resizer:after,
.fc-rtl .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-start-resizer:before,
.fc-rtl .fc-h-event .fc-start-resizer:after {
  left: auto;
  /* ignore the left and only use the right */
  cursor: e-resize;
}

/* DayGrid events
----------------------------------------------------------------------------------------------------
We use the full "fc-day-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/
/* line 577, ../scss/fullcalendar.scss */
.fc-day-grid-event {
  margin: 1px 2px 0;
  /* spacing between events and edges */
  padding: 0 1px;
}

/* line 583, ../scss/fullcalendar.scss */
.fc-day-grid-event .fc-content {
  /* force events to be one-line tall */
  white-space: nowrap;
  overflow: hidden;
}

/* line 588, ../scss/fullcalendar.scss */
.fc-day-grid-event .fc-time {
  font-weight: bold;
}

/* line 592, ../scss/fullcalendar.scss */
.fc-day-grid-event .fc-resizer {
  /* enlarge the default hit area */
  left: -3px;
  right: -3px;
  width: 7px;
}

/* Event Limiting
--------------------------------------------------------------------------------------------------*/
/* "more" link that represents hidden events */
/* line 604, ../scss/fullcalendar.scss */
a.fc-more {
  margin: 1px 3px;
  font-size: .85em;
  cursor: pointer;
  text-decoration: none;
}

/* line 611, ../scss/fullcalendar.scss */
a.fc-more:hover {
  text-decoration: underline;
}

/* line 615, ../scss/fullcalendar.scss */
.fc-limited {
  /* rows and cells that are hidden because of a "more" link */
  display: none;
}

/* popover that appears when "more" link is clicked */
/* line 621, ../scss/fullcalendar.scss */
.fc-day-grid .fc-row {
  z-index: 1;
  /* make the "more" popover one higher than this */
}

/* line 625, ../scss/fullcalendar.scss */
.fc-more-popover {
  z-index: 2;
  width: 220px;
}

/* line 630, ../scss/fullcalendar.scss */
.fc-more-popover .fc-event-container {
  padding: 10px;
}

/* Now Indicator
--------------------------------------------------------------------------------------------------*/
/* line 638, ../scss/fullcalendar.scss */
.fc-now-indicator {
  position: absolute;
  border: 0 solid red;
}

/* Toolbar
--------------------------------------------------------------------------------------------------*/
/* line 646, ../scss/fullcalendar.scss */
.fc-toolbar {
  text-align: center;
  margin-bottom: 1em;
}

/* line 651, ../scss/fullcalendar.scss */
.fc-toolbar .fc-left {
  float: left;
  height: 100px;
  line-height: 100px;
}
/* line 655, ../scss/fullcalendar.scss */
.fc-toolbar .fc-left button, .fc-toolbar .fc-left h2 {
  margin-right: 20px;
}

/* line 660, ../scss/fullcalendar.scss */
.fc-toolbar .fc-right {
  float: right;
  height: 100px;
  line-height: 100px;
}

/* line 667, ../scss/fullcalendar.scss */
.fc-toolbar .fc-center {
  display: inline-block;
}

/* the things within each left/right/center section */
/* line 672, ../scss/fullcalendar.scss */
.fc .fc-toolbar > * > * {
  /* extra precedence to override button border margins */
  float: left;
  margin-left: .75em;
}

/* the first thing within each left/center/right section */
/* line 678, ../scss/fullcalendar.scss */
.fc .fc-toolbar > * > :first-child {
  /* extra precedence to override button border margins */
  margin-left: 0;
}

/* title text */
/* line 684, ../scss/fullcalendar.scss */
.fc-toolbar h2 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #57617a;
  font-size: 36px;
  vertical-align: middle;
}

/* button layering (for border precedence) */
/* line 694, ../scss/fullcalendar.scss */
.fc-toolbar button {
  position: relative;
}

/* line 698, ../scss/fullcalendar.scss */
.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 2;
}

/* line 703, ../scss/fullcalendar.scss */
.fc-toolbar .fc-state-down {
  z-index: 3;
}

/* line 707, ../scss/fullcalendar.scss */
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 4;
}

/* line 712, ../scss/fullcalendar.scss */
.fc-toolbar button:focus {
  z-index: 5;
}

/* View Structure
--------------------------------------------------------------------------------------------------*/
/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */
/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
/* line 722, ../scss/fullcalendar.scss */
.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 730, ../scss/fullcalendar.scss */
.fc-view,
.fc-view > table {
  /* so dragged elements can be above the view's main element */
  position: relative;
  z-index: 1;
}

/* BasicView
--------------------------------------------------------------------------------------------------*/
/* day row structure */
/* line 741, ../scss/fullcalendar.scss */
.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
  /* we are sure there are no day numbers in these views, so... */
  padding-top: 1px;
  /* add a pixel to make sure there are 2px padding above events */
  padding-bottom: 1em;
  /* ensure a space at bottom of cell for user selecting/clicking */
}

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */
/* line 751, ../scss/fullcalendar.scss */
.fc-row.fc-rigid {
  overflow: hidden;
}

/* line 755, ../scss/fullcalendar.scss */
.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* week and day number styling */
/* line 764, ../scss/fullcalendar.scss */
.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
  padding: 0 2px;
}

/* line 769, ../scss/fullcalendar.scss */
.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-day-number {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 775, ../scss/fullcalendar.scss */
.fc-basic-view .fc-week-number {
  text-align: center;
}

/* line 779, ../scss/fullcalendar.scss */
.fc-basic-view .fc-week-number span {
  /* work around the way we do column resizing and ensure a minimum width */
  display: inline-block;
  min-width: 1.25em;
}

/* line 785, ../scss/fullcalendar.scss */
.fc-ltr .fc-basic-view .fc-day-number {
  text-align: center;
}

/* line 789, ../scss/fullcalendar.scss */
.fc-rtl .fc-basic-view .fc-day-number {
  text-align: left;
}

/* line 793, ../scss/fullcalendar.scss */
.fc-day-number.fc-other-month {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */
  /* opacity with small font can sometimes look too faded
     might want to set the 'color' property instead
     making day-numbers bold also fixes the problem */
}

/* AgendaView all-day area
--------------------------------------------------------------------------------------------------*/
/* line 804, ../scss/fullcalendar.scss */
.fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
  /* so the "more.." popover will be over the time grid */
}

/* line 809, ../scss/fullcalendar.scss */
.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
  /* all-day section will never get shorter than this */
}

/* line 813, ../scss/fullcalendar.scss */
.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-top: 1px;
  /* add a pixel to make sure there are 2px padding above events */
  padding-bottom: 1em;
  /* give space underneath events for clicking/selecting days */
}

/* TimeGrid axis running down the side (for both the all-day area and the slot area)
--------------------------------------------------------------------------------------------------*/
/* line 822, ../scss/fullcalendar.scss */
.fc .fc-axis {
  /* .fc to overcome default cell styles */
  vertical-align: middle;
  padding: 0 4px;
  white-space: nowrap;
}

/* line 828, ../scss/fullcalendar.scss */
.fc-rtl .fc-axis {
  text-align: left;
}

/* line 832, ../scss/fullcalendar.scss */
.ui-widget td.fc-axis {
  font-weight: normal;
  /* overcome jqui theme making it bold */
}

/* TimeGrid Structure
--------------------------------------------------------------------------------------------------*/
/* line 840, ../scss/fullcalendar.scss */
.fc-time-grid-container,
.fc-time-grid {
  /* so slats/bg/content/etc positions get scoped within here */
  position: relative;
  z-index: 1;
}

/* line 846, ../scss/fullcalendar.scss */
.fc-time-grid {
  min-height: 100%;
  /* so if height setting is 'auto', .fc-bg stretches to fill height */
}

/* line 850, ../scss/fullcalendar.scss */
.fc-time-grid table {
  /* don't put outer borders on slats/bg/content/etc */
  border: 0 hidden transparent;
}

/* line 854, ../scss/fullcalendar.scss */
.fc-time-grid > .fc-bg {
  z-index: 1;
}

/* line 858, ../scss/fullcalendar.scss */
.fc-time-grid .fc-slats,
.fc-time-grid > hr {
  /* the <hr> AgendaView injects when grid is shorter than scroller */
  position: relative;
  z-index: 2;
}

/* line 864, ../scss/fullcalendar.scss */
.fc-time-grid .fc-content-col {
  position: relative;
  /* because now-indicator lives directly inside */
}

/* line 868, ../scss/fullcalendar.scss */
.fc-time-grid .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

/* divs within a cell within the fc-content-skeleton */
/* line 878, ../scss/fullcalendar.scss */
.fc-time-grid .fc-business-container {
  position: relative;
  z-index: 1;
}

/* line 883, ../scss/fullcalendar.scss */
.fc-time-grid .fc-bgevent-container {
  position: relative;
  z-index: 2;
}

/* line 888, ../scss/fullcalendar.scss */
.fc-time-grid .fc-highlight-container {
  position: relative;
  z-index: 3;
}

/* line 893, ../scss/fullcalendar.scss */
.fc-time-grid .fc-event-container {
  position: relative;
  z-index: 4;
}

/* line 898, ../scss/fullcalendar.scss */
.fc-time-grid .fc-now-indicator-line {
  z-index: 5;
}

/* line 902, ../scss/fullcalendar.scss */
.fc-time-grid .fc-helper-container {
  /* also is fc-event-container */
  position: relative;
  z-index: 6;
}

/* TimeGrid Slats (lines that run horizontally)
--------------------------------------------------------------------------------------------------*/
/* line 911, ../scss/fullcalendar.scss */
.fc-time-grid .fc-slats td {
  height: 1.5em;
  border-bottom: 0;
  /* each cell is responsible for its top border */
}

/* line 916, ../scss/fullcalendar.scss */
.fc-time-grid .fc-slats .fc-minor td {
  border-top-style: dotted;
}

/* line 920, ../scss/fullcalendar.scss */
.fc-time-grid .fc-slats .ui-widget-content {
  /* for jqui theme */
  background: none;
  /* see through to fc-bg */
}

/* TimeGrid Highlighting Slots
--------------------------------------------------------------------------------------------------*/
/* line 928, ../scss/fullcalendar.scss */
.fc-time-grid .fc-highlight-container {
  /* a div within a cell within the fc-highlight-skeleton */
  position: relative;
  /* scopes the left/right of the fc-highlight to be in the column */
}

/* line 932, ../scss/fullcalendar.scss */
.fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
  /* top and bottom will be in by JS */
}

/* TimeGrid Event Containment
--------------------------------------------------------------------------------------------------*/
/* line 943, ../scss/fullcalendar.scss */
.fc-ltr .fc-time-grid .fc-event-container {
  /* space on the sides of events for LTR (default) */
  margin: 0 2.5% 0 2px;
}

/* line 947, ../scss/fullcalendar.scss */
.fc-rtl .fc-time-grid .fc-event-container {
  /* space on the sides of events for RTL */
  margin: 0 2px 0 2.5%;
}

/* line 951, ../scss/fullcalendar.scss */
.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
  position: absolute;
  z-index: 1;
  /* scope inner z-index's */
}

/* line 957, ../scss/fullcalendar.scss */
.fc-time-grid .fc-bgevent {
  /* background events always span full width */
  left: 0;
  right: 0;
}

/* Generic Vertical Event
--------------------------------------------------------------------------------------------------*/
/* line 967, ../scss/fullcalendar.scss */
.fc-v-event.fc-not-start {
  /* events that are continuing from another day */
  /* replace space made by the top border with padding */
  border-top-width: 0;
  padding-top: 1px;
  /* remove top rounded corners */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 977, ../scss/fullcalendar.scss */
.fc-v-event.fc-not-end {
  /* replace space made by the top border with padding */
  border-bottom-width: 0;
  padding-bottom: 1px;
  /* remove bottom rounded corners */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* TimeGrid Event Styling
----------------------------------------------------------------------------------------------------
We use the full "fc-time-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/
/* line 994, ../scss/fullcalendar.scss */
.fc-time-grid-event {
  overflow: hidden;
  /* don't let the bg flow over rounded corners */
}

/* line 998, ../scss/fullcalendar.scss */
.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
  padding: 0 1px;
}

/* line 1003, ../scss/fullcalendar.scss */
.fc-time-grid-event .fc-time {
  font-size: .85em;
  white-space: nowrap;
}

/* short mode, where time and title are on the same line */
/* line 1010, ../scss/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-content {
  /* don't wrap to second line (now that contents will be inline) */
  white-space: nowrap;
}

/* line 1015, ../scss/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
  /* put the time and title on the same line */
  display: inline-block;
  vertical-align: top;
}

/* line 1022, ../scss/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time span {
  display: none;
  /* don't display the full time text... */
}

/* line 1026, ../scss/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
  /* ...instead, display only the start time */
}

/* line 1030, ../scss/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time:after {
  content: "\000A0-\000A0";
  /* seperate with a dash, wrapped in nbsp's */
}

/* line 1034, ../scss/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-title {
  font-size: .85em;
  /* make the title text the same size as the time */
  padding: 0;
  /* undo padding from above */
}

/* resizer */
/* line 1041, ../scss/fullcalendar.scss */
.fc-time-grid-event .fc-resizer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 8px;
  font-size: 11px;
  text-align: center;
  cursor: s-resize;
}

/* line 1053, ../scss/fullcalendar.scss */
.fc-time-grid-event .fc-resizer:after {
  content: "=";
}

/* Now Indicator
--------------------------------------------------------------------------------------------------*/
/* line 1061, ../scss/fullcalendar.scss */
.fc-time-grid .fc-now-indicator-line {
  border-top-width: 1px;
  left: 0;
  right: 0;
}

/* arrow on axis */
/* line 1069, ../scss/fullcalendar.scss */
.fc-time-grid .fc-now-indicator-arrow {
  margin-top: -5px;
  /* vertically center on top coordinate */
}

/* line 1073, ../scss/fullcalendar.scss */
.fc-ltr .fc-time-grid .fc-now-indicator-arrow {
  left: 0;
  /* triangle pointing right... */
  border-width: 5px 0 5px 6px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 1081, ../scss/fullcalendar.scss */
.fc-rtl .fc-time-grid .fc-now-indicator-arrow {
  right: 0;
  /* triangle pointing left... */
  border-width: 5px 6px 5px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 6, ../scss/canlendar.scss */
#canlendar {
  width: 100%;
}
/* line 8, ../scss/canlendar.scss */
#canlendar .fc-view-container {
  font-size: 38px;
  color: #a5acbd;
  width: 100%;
}
