@import "general.scss";
@import "form.scss";

.title-bar, .med-form {
    width: 100%;
}
.title-bar {
    border-bottom: 1px solid #e8e8e8;
    .icon {
        float: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    h1 {
        font-size: 36px;
        line-height: 100px;
        height: 100px;
        text-align: center;
        font-weight: normal;
    }
}