
@import "compass/utilities";

@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;

/*All icon*/
$icon-sprite-layout:smart;
$icon-spacing: 6px;
$icon-sprite-dimensions:true;

.icon {
   @include inline-block;
}



