<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
    <title>群相册</title>
    <meta name="author" content="图扑"/>
    <meta name="Copyright" content="图扑版权所有"/>
    <meta name="keywords" content="图扑，tupu，照片，话题，交友，美图，照片交友，话题交友，美图交友">
    <meta name="description" content="图扑，用照片创造话题。发布照片就可以发起话题，跟踪话题就可以发现世界。在这里，和好友、陌生人一起创造充满乐趣的生活图谱">

    <link rel="stylesheet" type="text/css" href="../static/style/style.css" />
    <script type="text/javascript" src="../static/js/util.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.9.0.min.js"></script>

</head>
<body>
        <input id="appId" type="hidden" value="wxd3b6c4a06da07946"/>
        <input id="timestamp" type="hidden" value="1449814472"/>
        <input id="nonceStr" type="hidden" value="631ed5f4846b43bebca0b4c76e76c5b6"/>
        <input id="signature" type="hidden" value="d1ff852af2e37f9fccc3104b0ccd4ad98f2201d1"/>
        <input id="api" type="hidden" value="https://gibson.tupu.im/"/>
        <input id="auth" type="hidden" value="Basic NGMxNDYzY2E4MzUwNDBlNmFlM2Y0N2YzYWNlODE5Mzk6anMtZGV2LWtleQ=="/>
    
    
    <input id="groupUUId" type="hidden" value="f4b19831bd03464b87dfca9b72b361e6"/>
    <input id="userUUId" type="hidden" value="6a0f0298f0dd4371b67cbe52943eb4b6"/>

<script type="text/javascript" src="../static/js/album.js"></script>

</body>
</html>