<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
    <title>群相册</title>
    <meta name="author" content="图扑"/>
    <meta name="Copyright" content="图扑版权所有"/>
    <meta name="keywords" content="图扑，tupu，照片，话题，交友，美图，照片交友，话题交友，美图交友">
    <meta name="description" content="图扑，用照片创造话题。发布照片就可以发起话题，跟踪话题就可以发现世界。在这里，和好友、陌生人一起创造充满乐趣的生活图谱">

    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/jquery-1.9.0.min.js"></script>

</head>
<body>
<div class="tp-wrapper tp-album">
    <section class="tp-store-wrapper clearfix">
        <a class="tp-close tp-icon tp-left" href="#"></a>
        <div class="tp-store-info tp-left">
            <span class="tp-icon tp-store tp-left"></span>
            <p class="fz26">请按右上角选择“收藏”</p>
            <p>（在收藏中搜索<span>「图扑」</span>可快速找回）</p>
        </div>
        <span class="tp-icon tp-return tp-left"></span>
    </section>
    <section class="tp-user clearfix">
        <img src="../images/avatar.png" alt="漫游者Nickerson<" width="90"/>
        <div class="tp-user-info">
            <p class="tp-user-name">一二漫游者一二漫游者一二漫游者</p>
            <p class="fz26">添加在<span class="js-album-name">「群相册名字群相册名字群相册名字群相册名字」</span></p>
        </div>
    </section>

    <section class="tp-album-main tp-album-photo clearfix">
        <section id="tp-album-thumb" class="clearfix"></section>
    </section>

    <section class="tp-album-main tp-member-wrapper" style="display: none;">
        <section class="tp-member-thumb clearfix">
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字幕字幕字字FIX侠</p>
            </div>
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字</p>
            </div>
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字幕字幕字字FIX侠</p>
            </div>
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字</p>
            </div>
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字幕字幕字字FIX侠</p>
            </div>
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字</p>
            </div>
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字幕字幕字字FIX侠</p>
            </div>
            <div class="tp-member-item">
                <img src="../images/avatar.png" alt="FIX字幕侠字幕字幕字字FIX侠" />
                <p class="tp-member-nick">FIX字幕侠字</p>
            </div>

        </section>
    </section>

</div>
</div>
<footer>
    <a class="tp-download-btn" href=""><span class="tp-icon tp-logo"></span>安装图扑APP轻松收集好照片</a>
    <p>最好用的微信群相册，聚会、旅行、活动照片收集利器</p>
</footer>
<div class="modal clearfix">
    <a class="modal-close tp-icon tp-close-black" href="#"></a>
    <div class="modal-main">
        <img src="../images/test/8.jpg" alt=""/>
        <div class="tp-photo-like">
            <p class="js-tp-desc">最好用的微信群相册，聚会、旅行、活动照片收集利器最好用的微信群相册，聚会、旅行、活动照片收集利器最好用的微信群相册，聚会、旅行、活动照片收集利器最好用的微信群相册，聚会、旅行、活动照片收集利器最好用的微信群相册，聚会、旅行、活动照片收集利器最好用的微信群相册，聚会、旅行、活动照片收集利器最好用的微信群相册，聚会、旅行、活动照片收集利器</p>
            <div class="clearfix">
                <a class="js-tp-like tp-icon tp-like-black tp-right" href=""></a>
                <p class="tp-like-num"><span class="js-like-num">173</span> 赞</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/album.js"></script>
<!--<script type="text/javascript" src="../js/loadImage.js"></script>-->
</body>
</html>