<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
    <title>最赞</title>
    <meta name="author" content="图扑"/>
    <meta name="Copyright" content="图扑版权所有"/>
    <meta name="keywords" content="图扑，tupu，照片">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script type="text/javascript" src="../js/util.js"></script>
</head>
<body>
<div class="tp-wrapper">
    <section class="tp-like-user clearfix">
        <img class="tp-best-like" src="../images/crown_palm_icon.png"/>
        <p class="tp-like-title">收获<span>173</span>个赞</p>
        <div class="tp-deadline-time">
            <p class="tp-tip">距离揭晓还有</p>
            <p class="js-deadline-time">23:02:47:58</p>
            <span class="fixed-time day">天</span>
            <span class="fixed-time hour">时</span>
            <span class="fixed-time min">分</span>
            <span class="fixed-time second">秒</span>
            <p style="line-height:50px;">届时照片获赞总数最高的群友，<br>                                        z
                将会赢得相册</p>
            <span class="js-album-name" style="line-height:50px;">「一二三四五六七八九十一二三
                四五六七八九十」</span>
            <p style="line-height:50px;">本群最赞。<br>
                上传分享更多好照片，<br>
                请更多微信好友点赞，<br>
                角逐最赞。</p>
        </div>
    </section>
    <section class="tp-like-user clearfix" style="display:none;">
        <img class="tp-best-like" src="../images/crown_palm_icon.png"/>
        <p class="tp-like-title">收获<span>173</span>个赞</p>
        <img class="js-avatar" src="../images/avatar.png" alt="" width="220"/>
        <div class="tp-like-info">
            <div class="line"></div>
            <p class="js-like-user-nick">最长用户名六七八九十一二三四五</p>
            <div class="line"></div>
        </div>
        <div class="tp-like-album">
            <p>群相册</p>
            <p class="js-album-name">「最长相册名六七八九十一二三四五六七八九十」</p>
            <p class="tp-album-deadline-time">截止于<span class="js-album-deadline-time">2015-09-27</span></p>
        </div>
    </section>
    <footer>
        <a class="tp-download-btn" href=""><span class="tp-icon tp-logo"></span>安装图扑APP轻松收集好照片</a>
        <p>最好用的微信群相册，聚会、旅行、活动照片收集利器</p>
    </footer>

</div>
</body>
</html>