
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="https://dn-tupu-dev.qbox.me/img/logo.ico?1451306729" />
    <title>最赞</title>
    <meta name="author" content="图扑"/>
    <meta name="copyright" content="图扑版权所有"/>
    <meta name="keywords" content="相册,微信,社交,微信群,群相册,手机拍照">
    <meta name="description" content="最好用的微信群相册">
    
        <link rel="stylesheet" type="text/css" href="https://dn-tupu-dev.qbox.me/css/style.css?1451306729" />
    
    
        <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/util.js?1451306729"></script>
        <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/jquery-1.9.0.min.js?1451306729"></script>
    
    
</head>
<body>
    
        <!-- jssdk -->
        <input id="appId" type="hidden" value="wxd3b6c4a06da07946"/>
        <input id="timestamp" type="hidden" value="1451306729"/>
        <input id="nonceStr" type="hidden" value="a1a214445bb64b7d90569792bf03ed26"/>
        <input id="signature" type="hidden" value="c7aa43a567a3b878455ad0cb2ab51f539146113a"/>
        
        
        <!-- /jssdk -->
        <input id="api" type="hidden" value="https://gibson.tupu.im/"/>
        <input id="auth" type="hidden" value="Basic NGMxNDYzY2E4MzUwNDBlNmFlM2Y0N2YzYWNlODE5Mzk6anMtZGV2LWtleQ=="/>
    
    
    <input id="groupUUId" type="hidden" value="4b138e8565664dc192d4f36ae80b1104"/>

    
    <script type="text/javascript" src="../static/js/championship.js"></script>

</body>
</html>