<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="http://dn-tupu-dev.qbox.me/img/logo.png" />
    <title>图扑 - 最好用的微信相册</title>
    <meta name="author" content="图扑"/>
    <meta name="Copyright" content="图扑版权所有"/>
    <meta name="keywords" content="相册、微信、社交、微信群、群相册、手机拍照">
    <meta name="description" content="图扑，用照片创造话题。发布照片就可以发起话题，跟踪话题就可以发现世界。在这里，和好友、陌生人一起创造充满乐趣的生活图谱">

    <link rel="stylesheet" type="text/css" href="https://dn-tupu-dev.qbox.me/css/style_web.css?91232" />
    <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/util.js"></script>
    <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/jquery-1.9.0.min.js"></script>

</head>
<body>
<div class="wrapper clearfix">
    <div class="col-left">
        <div class="header">
            <a class="logo pc" href="javascript:;"><img src="http://dn-tupu-dev.qbox.me/img/logo_web.png"></a>
            <a class="logo phone" href="javascript:;"><img src="http://dn-tupu-dev.qbox.me/img/logo_big.png"></a>
            <h1>图扑，最好用的微信群相册</h1>
        </div>
        <p class="descript web">聚会、派对、旅行、活动、亲友照片收集<br>利器，在微信里就能上传、点赞高清照片。<br>轻松收集好照片，轻松收获赞。</p>
         <p class="descript phone">聚会、旅行、活动照片收集利器<br>在微信里就能上传、点赞好照片</p>
        <div class="download clearfix">
            <img alt="扫描下载二维码下载应用" class="qr-code left" src="http://dn-tupu-dev.qbox.me/img/qrcode.png">
            <div class="other-info">
                <p>微信扫一扫<br>快速安装<br>图扑APP</p>
            </div>
        </div>
        <div class="btn-wrapper clearfix">
            <a class="btn-download iphone" href="https://appsto.re/cn/mMvJ2.i" target="_blank"><img src="http://dn-tupu-dev.qbox.me/img/Apple_logo_white.png">iPhone版下载</a>
            <a class="btn-download android" href="https://dn-tupu-asset.qbox.me/tupu_2015120901_v2.0.0.apk" target="_blank"><img src="http://dn-tupu-dev.qbox.me/img/Android_logo_white.png">Android版下载</a>
        </div>
        <a class="btn phone" href="http://a.app.qq.com/o/simple.jsp?pkgname=im.tupu.tupu" target="_blank"><span class="tp-icon tp-download-blue"></span>点击安装APP</a>
        <div class="info">
            <img class="iphone" src="http://dn-tupu-dev.qbox.me/img/iPhone.png">
            <img class="android" src="http://dn-tupu-dev.qbox.me/img/android.png">
        </div>
        <div class="footer">
            <p>©2015 tupu.im &nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank"> 粤ICP备15095257号</a></p>
        </div>
    </div>
    <div class="col-right">
        <img src="http://dn-tupu-dev.qbox.me/img/info_web.png">   
    </div>
</div>

<script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/tupu_main.js"></script>

</body>
</html>