
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="https://dn-tupu-dev.qbox.me/img/logo.ico" />
    <title>群相册</title>
    <meta name="author" content="图扑"/>
    <meta name="Copyright" content="图扑版权所有"/>
    <meta name="keywords" content="图扑，tupu，照片，话题，交友，美图，照片交友，话题交友，美图交友">
    <meta name="description" content="图扑，用照片创造话题。发布照片就可以发起话题，跟踪话题就可以发现世界。在这里，和好友、陌生人一起创造充满乐趣的生活图谱">
    
        <link rel="stylesheet" type="text/css" href="../static/style/style.css?1449069383" />
    <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/util.js"></script>
    <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/ui.js"></script>
    <script type="text/javascript" src="https://dn-tupu-dev.qbox.me/js/qiniu.js"></script>
</head>
<body>
<input id="appId" type="hidden" value="wxd3b6c4a06da07946"/>
        <input id="timestamp" type="hidden" value="1449739550"/>
        <input id="nonceStr" type="hidden" value="e97ceea07a444115bfabd081f98c2c74"/>
        <input id="signature" type="hidden" value="93a78ec914563694ab91ee8441760587bd065b12"/>
        <input id="api" type="hidden" value="https://gibson.tupu.im/"/>
        <input id="auth" type="hidden" value="Basic NGMxNDYzY2E4MzUwNDBlNmFlM2Y0N2YzYWNlODE5Mzk6anMtZGV2LWtleQ=="/>
    
    
    <input id="groupId" type="hidden" value="7"/>
    <input id="invitation" type="hidden" value="KpKIw7OVU+4HdMYvWFIkfA=="/>
    <input id="groupName" type="hidden" value="Doge"/>
    <input id="groupBannerUrl" type="hidden" value="https://dn-tupu-dev.qbox.me/5313611f958f7b04bc36b5ce421be99b.jpg"/>
    <input id="groupBannerWidth" type="hidden" value="562"/>
    <input id="groupBannerHeight" type="hidden" value="1000"/>





<script type="text/javascript" src="../static/js/group.js"></script>
</body>
</html>