<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="target-densitydpi=device-dpi,width=640" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
    <title>照片</title>
    <meta name="author" content="图扑"/>
    <meta name="Copyright" content="图扑版权所有"/>
    <meta name="keywords" content="图扑，tupu，照片">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/jquery-1.9.0.min.js"></script>

</head>
<body>
    <div class="tp-wrapper">
        <section class="tp-user clearfix">
            <img src="../images/avatar.png" alt="漫游者Nickerson<" width="90"/>
            <div class="tp-user-info">
                <p class="tp-user-name">漫游者Nickerson</p>
                <p class="tp-time">2015-09-21</p>
            </div>
        </section>
        <section class="tp-photo-info">
            <div class="photo-wrapper">
                <img src="" style="display: none;">
            </div>

            <p class="tp-photo-desc">撞上鄂乡的古伦木沓节张鸣鄂伦春是人数不多的小民族，但是，这个民族在人们眼里，却不陌生。稍微有点年纪的人，有哪个不知道那首歌呢——“高高的兴安岭，一片大森林，森林里住着勇敢的鄂伦春，你呀一匹烈马...</p>
            <div class="tp-photo-like">
                <a class="js-tp-like tp-icon tp-icon-like" href=""></a>
                <span class="tp-icon tp-heart-left tp-heart"></span>
                <span class="tp-icon tp-heart-right tp-heart"></span>
                <p class="tp-like-num"><span class="js-like-num">173</span> 赞</p>

            </div>
            <div class="tp-photo-album">
                <p>所在相册<span class="js-album-name">「一二三四五六七八九十一二三四五六七八九十」</span></p>
            </div>
            <footer>
                <a class="tp-download-btn" href=""><span class="tp-icon tp-logo"></span>安装图扑APP轻松收集好照片</a>
                <p>最好用的微信群相册，聚会、旅行、活动照片收集利器</p>
            </footer>
        </section>

    </div>
    <script type="text/javascript" src="../js/post.js"></script>
</body>
</html>