.main-wrapper {
    background: url("../images/1-bg.png") no-repeat 0 0;
    width: 1041px;
    height: 541px;
    margin: 0 auto;
    position: relative;
    top: 194px;
    *zoom: 1;
    z-index: -1;

    .main-building {
        position: absolute;
        cursor: url("../images/bus.png"),auto;
    }
    #carousel {
        left: 83px;
        top: 160px;
        z-index: 13;
    }
    #wheel {
        left: 119px;
        top: -103px;
        z-index: 12;
    }
    #adventure {
        left: 534px;
        top: -15px;
        z-index: 12;
    }
}
.j-icon {
    background: url("../images/1-icon.png") no-repeat 0 0;
    position: absolute;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    &.cloud-big {
        background-position: -1px 0;
        width: 148px;
        height: 79px;
        top: -178px;
        left: 119px;
    }
    &.cloud-middle {
        background-position: -328px -28px;
        width: 125px;
        height: 76px;
        left: 447px;
        top: -150px;
    }
    &.cloud-small {
        background-position: -607px -30px;
        width: 111px;
        height: 59px;
        left: 720px;
        top: -107px;
        z-index: 1;
    }
    &.mountain {
        background-position: 0 -116px;
        width: 855px;
        height: 110px;
        left: 96px;
        top: -98px;
        z-index: 9;
    }
    &.balloon {
        background-position: -876px -23px;
        width: 150px;
        height: 207px;
        left: 839px;
        top: -130px;
        z-index: 10;
    }
    &.ice-cream {
        background-position: 0 -273px;
        width: 92px;
        height: 136px;
        left: 285px;
        top: 169px;
        z-index: 13;
    }
    &.bridge {
        background-position: -144px -301px;
        width: 93px;
        height: 65px;
        left: 488px;
        top: 372px;
    }
}