html,
body {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "\5b8b\4f53", sans-serif;
  font-weight: 400;
  color: #5A5555;
  background: #fff;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}
body {
  width: 640px;
}
body,
div,
img,
ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: text;
}
*,
:after,
:before {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
p,
div {
  max-height: 999999px;
}
.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
.clearfix {
  *display: inline-block;
}
*html .clearfix {
  height: 1%;
}
address,
cite,
code,
em,
th,
i {
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  blr: expression("this.onfocus=this.blur()");
  outline: none;
}
a img {
  border: 0;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  border: 0 none;
}
p {
  word-wrap: break-word;
}
textarea {
  resize: none;
}
.tp-wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
}
footer {
  background: #E4E4E4;
  padding-top: 36px;
  padding-bottom: 30px;
  width: 100%;
}
footer p {
  font-size: 22px;
  line-height: 24px;
  color: #5A5555;
  text-align: center;
}
/* ���ҳ */
/* ������ */
.tp-banner-image {
  width: 640px;
  height: 340px;
  overflow: hidden;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.tp-banner-image img {
  position: absolute;
  left: 0;
  top: 0;
}
.tp-banner-image h2 {
  max-width: 520px;
  margin: 0 auto;
  font-size: 45px;
  color: #fff;
  font-weight: normal;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}
.tp-album-main {
  background: #e4e4e4;
  padding-top: 20px;
}
.tp-album-main .tp-album-btn-big {
  margin-bottom: 20px;
}
.tp-album-main.tp-album-photo {
  padding: 20px;
  overflow: hidden;
  width: 600px;
}
.tp-album-main.tp-member-wrapper {
  background: #fff;
  padding-left: 30px;
  width: 580px;
  overflow: hidden;
}
/* 照片流 */
#tp-album-thumb {
  width: 640px;
}
.tp-photo-wrapper {
  float: left;
  margin-bottom: 20px;
}
.tp-photo-wrapper img {
  margin-right: 20px;
  float: left;
}
/* 方块流 */
.tp-member-thumb {
  width: 700px;
}
.tp-member-thumb .tp-member-item {
  width: 102px;
  float: left;
  height: 212px;
  margin-right: 54px;
}
.tp-member-thumb .tp-member-item img {
  width: 102px;
  height: 102px;
  margin-bottom: 5px;
}
.tp-member-thumb .tp-member-item .tp-member-nick {
  font-size: 20px;
  color: #5A5555;
  line-height: 22px;
}
/* ��Ƭҳ */
.tp-user {
  padding: 20px;
}
.tp-user img,
.tp-user .tp-user-info {
  float: left;
}
.tp-user .tp-user-info {
  margin-left: 20px;
}
.tp-user .tp-user-info .tp-user-name {
  font-size: 32px;
  line-height: 34px;
  color: #5A5555;
  margin-top: 15px;
}
.tp-user .tp-user-info .tp-time {
  font-size: 26px;
  color: #aaa;
}
.tp-photo-info .tp-photo-desc {
  font-size: 30px;
  line-height: 38px;
  color: #aaa;
  padding: 20px;
}
.tp-photo-info .tp-photo-like {
  height: 110px;
  font-size: 30px;
  color: #E60012;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
}
.tp-photo-info .tp-photo-like p {
  margin-top: 36px;
}
.tp-photo-info .tp-photo-album {
  height: 120px;
  padding: 0 20px;
  font-size: 30px;
  line-height: 32px;
  color: #aaa;
  display: table-cell;
  vertical-align: middle;
}
.tp-photo-info .tp-photo-album span {
  color: #6D6868;
}
/* ����ҳ�� */
.tp-like-user {
  /* ����ʱ���� */
}
.tp-like-user .tp-best-like {
  display: block;
  width: 220px;
  margin: 47px auto 50px auto;
}
.tp-like-user .tp-like-title {
  font-size: 32px;
  line-height: 32px;
  color: #CB7638;
  text-align: center;
}
.tp-like-user .js-avatar {
  margin: 50px auto;
  display: block;
  width: 220px;
}
.tp-like-user .tp-like-info {
  width: 540px;
  height: 70px;
  line-height: 35px;
  font-size: 32px;
  color: #000;
  position: relative;
  margin: 0 auto 40px auto;
}
.tp-like-user .tp-like-info .line {
  width: 100%;
  height: 1px;
  background: #aaa;
  position: absolute;
  left: 0;
  top: 50%;
}
.tp-like-user .tp-like-info .js-like-user-nick {
  max-width: 256px;
  padding: 0 15px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  left: 128px;
  top: 0;
  z-index: 1;
}
.tp-like-user .tp-like-info .js-like-user-nick.sort {
  top: 28px;
}
.tp-like-user .tp-like-album {
  color: #5A5555;
  font-size: 24px;
  text-align: center;
}
.tp-like-user .tp-like-album .js-album-name {
  max-width: 520px;
  margin: 0 auto 40px auto;
  font-size: 32px;
}
.tp-like-user .tp-like-album .tp-album-deadline-time {
  font-size: 24px;
  color: #aaa;
  margin-bottom: 10px;
}
.tp-like-user .tp-deadline-time {
  position: relative;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.tp-like-user .tp-deadline-time .tp-tip {
  font-size: 24px;
  margin-top: 10px;
}
.tp-like-user .tp-deadline-time .js-album-name {
  display: block;
  color: #000;
  width: 428px;
  margin: 0 auto;
}
.tp-like-user .tp-deadline-time .js-deadline-time {
  font-size: 100px;
  color: #000;
  padding-bottom: 25px;
}
.tp-like-user .tp-deadline-time .fixed-time {
  position: absolute;
  color: #000;
  top: 150px;
}
.tp-like-user .tp-deadline-time .fixed-time.day {
  left: 100px;
}
.tp-like-user .tp-deadline-time .fixed-time.hour {
  left: 234px;
}
.tp-like-user .tp-deadline-time .fixed-time.min {
  left: 374px;
}
.tp-like-user .tp-deadline-time .fixed-time.second {
  left: 510px;
}
/* btn */
.tp-album-btn {
  width: 319px;
  padding: 32px 0;
  font-size: 24px;
  color: #aaa;
  text-align: center;
  display: inline-block;
  float: left;
  background: #fff;
}
.tp-album-btn:hover,
.tp-album-btn.active {
  color: #2F5BA3;
}
.line {
  width: 1px;
  height: 78px;
  background: #ccc;
  display: inline-block;
  float: left;
  margin-top: 11px;
}
.tp-album-btn-big {
  width: 600px;
}
.tp-download-btn {
  display: block;
  width: 490px;
  padding: 24px 20px;
  font-size: 32px;
  color: #fff;
  background-color: #2F5BA3;
  margin: 0 auto 10px auto;
}
.tp-download-btn .tp-logo {
  float: left;
  margin-right: 10px;
}
/* icon */
.tp-icon {
  display: inline-block;
  vertical-align: middle;
  background: url('../images/tp_icon.png') no-repeat 0 0;
}
.tp-icon.tp-icon-add {
  width: 46px;
  height: 47px;
  margin-right: 10px;
}
.tp-icon.tp-icon-like {
  float: right;
  margin-top: 33px;
  width: 56px;
  height: 54px;
  background-position: -46px 0;
}
.tp-icon.tp-logo {
  width: 52px;
  height: 52px;
  background-position: -155px 0;
}
